h1 {
  font-size: 80%;
  text-align: right;
  font-weight: normal;
}

p {
	text-indent: 20px;
}

div.column {
	border: 1px solid navy;
}

div.header {
	border-bottom: 1px dotted navy;
	background-color: #efefef;
}