body {
	background-color: #efefef;
	margin: 0px;
	padding: 0px;
}

div.main {
	margin-right: 200px;
	background-color: white;
	margin-top: 0px;
	padding: 10px;
}

div.sidebar {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 200px;
	font-size: 70%;
    word-break: break-all;
}

div.sidebar ul {
	margin-left: 0px;
	padding-left: 20px;
}

h1 {
  font-size: 70%;
  text-align: right;
  font-weight: normal;
}

h3 {
	background-color: #88AAFF;
	padding: 4px;
}

h4 {
	border-bottom: 1px solid silver;
	margin-bottom: 0px;
}

p {
	text-indent: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.caption {
	font-size: 80%;
	font-style: italic;
}

span.error {
	background-color: #dddddd;
	font-weight: bold;
}

pre {
	margin-top: 0px;
	border: 1px solid silver;
	background-color: #efefef;
	padding: 4px;
}

div.keyword {
	position: absolute;
	left: 8px;
}

div.keyword span {
	background-color: navy;
	color: white;
	padding: 4px;
}

div.version {
	text-align: right;
}

div.version span {
	background-color: silver;
	color: white;
	padding: 4px;
}


div.column {
	border: 1px solid navy;
}

div.column div.header {
	border-bottom: 1px dotted navy;
	background-color: #efefef;
	color: navy;
	font-weight: bold;
	padding: 4px;
	font-size: 110%;
}

div.note {
	border: 2px dotted red;
	padding: 2px;
	background-color: #ffefef;
}

div.note div.header {
	font-weight: bold;
	margin-bottom: 8px;
	color: red;
	font-size: 110%;
}

div.note div.title {
	font-weight: bold;
	padding-left: 10px;
}

div.content {
	padding: 4px;
}

table th {
  border: 1px solid #88AAFF;
  background-color: #88AAFF;
  text-align:center;
}

table td {
  border: 1px solid #88AAFF;
}

table.box {
  width: 100%;
  border: none;
  border-collapse:collapse;
  border-spacing:0;
  empty-cells:show;
  margin: 2px;
}

table.box th {
  width: 100px;
  padding:0.3em 1em;
}

table.box td {
  padding:0.3em 1em;
}

table.box ul {
  margin: 0px;
  padding-left: 10px;
}

table.box p {
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

span.memo {
	background-color: yellow;
	border: 1px solid gray;
}